body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 64px;
    display: flex;
    justify-content: center;
}
.main {
    border: 1px solid grey;
    border-radius: 10px;
    width: 360px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: blueviolet;
}

.display {
    height: auto;
    width: 352px;
    font-size: 48px;
    text-align: right;
    padding-top: 30px;
}

input::placeholder {
    color: black;
}

.calculator-buttons {
    display: flex;
}

.number-panel div {
display: flex;
}

.number-panel button, .operator-panel button{
    height: 62px;
    width: 90px;
}

